@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~bootstrap/dist/css/bootstrap.css";

.notification-icon {
    background-color: rgb(228, 124, 6); /* Couleur de fond pour la notification */
    width: 10px; /* Largeur de l'icône */
    height: 10px; /* Hauteur de l'icône */
    border-radius: 50%; /* Pour donner une forme de cercle */
    display: inline-block; /* Pour que l'icône soit en ligne avec le profil */
    margin-left: 10px; /* Espacement entre le profil et l'icône */
  }
  